header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    background-color: #56367a;
}
.logo{
    margin-left: 5%;
    width: 200px;
}
header > div{
    font-family: 'Lobster', cursive;
    color: #fddc76;

}
header > div > h1{
    font-size: 4rem;
}
header > div > h5{
    letter-spacing: 8px;
}
nav {
    margin-right: 5%;
}
li {
    font-size: 1.5em;
    font-weight: bold;
    list-style: none;
}
header li a {
    color: #f5abc7;
    padding:5px;
}
header li a:hover {
    color: #56367a;
    text-decoration: none;
    background-color: #f5abc7;
    border-radius: 10px;
}
main{
    background-color: black;
}
/* #carousel{
    display: block;
    margin: auto;
    width: 70vw;
} */
.carousel-item > img{
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #56367a;
}
footer > iframe {
    width: 300px;
    height: 200px;
}